/* Colors and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gilda+Display&family=Palanquin:wght@400;700&display=swap');

:root {
    --bg: rgb(68, 48, 48);
    --dark: rgb(163, 66, 60);
    --light: rgb(231, 227, 238);
    --light-75: rgba(231, 227, 238, 0.75);
    --grad-1: rgb(163, 66, 60);
    --grad-2: rgb(222, 131, 77);
    --grad-3: rgba(240, 210, 144, 1);
    --drop-shadow: rgba(68, 48, 48, 0.7);
    --grad-3-75: rgba(240, 210, 144, 0.25);
    --lg: 2.5em;
    --md: 1.25em;
    --bg-image: url('./images/header-background.jpg');
}

/* Base Styles */
body {
    position: relative;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
    background-color: var(--light);
    transition: padding-top 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    min-height: 125vh;
    overflow-x: hidden;
    scroll-padding-top: 250px;
}

/* Header Styles */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--light-75), var(--light-75)), var(--bg-image);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    transition: top 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    opacity: 1;
    transform: translateY(0);
}

.fa-angles-down {
    font-family: 'Palanquin', sans-serif;
    position: absolute;
    color: var(--dark);
    bottom: 20px;
    font-size: clamp(15px, 4vw, 40px);
    transition: all 0.6s ease-in-out;
}

header:hover .fa-angles-down {
    bottom: 10px;
}

header .fa-angles-down:hover {
    bottom: 15px;
    color: var(--grad-2);
}

header h1 {
    margin: 0 auto;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: clamp(30px, 6vw, 70px);
    color: var(--dark);
    line-height: 100%;
}

header p.subtitle {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: fit-content;
    left: 4vw;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--grad-2);
    font-family: 'Gilda Display', serif;
}

/* Placeholder Styles */
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    display: none;
    transition: all 0.6s ease;
}

.to-content {
    transition: all 
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* Navigation Styles */
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: fit-content;
    right: 0;
    top: 0;
    width: 100%;
    padding: 20px 5px 30px;
    font-weight: bold;
    font-size: clamp(12px, 1.75vw, 18px);
    letter-spacing: 0.5px;
    background-color: var(--bg);
    z-index: 1000;
}

nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    min-width: max-content;
    max-width: 70%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    border-bottom: 0.22vh solid var(--light);
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    border-bottom: 0.44vh solid var(--light);
}

/* Section Styles */
#about,
#contact,
#resume,
#portfolio {
    width: 100%;
    margin: 0 auto;
    padding: 40px 40px 20px 40px;
    text-align: justify;
    color: var(--dark);
    display: flex;
    align-content: space-around;
    align-self: center;
}

/* Section Title Styles */
#about .title,
#contact .title,
#resume .title,
#portfolio .title {
    width: 15%;
    border-right: 4px solid var(--dark);
    padding: 10px 20px;
    margin: 0 20px;
    font-size: clamp(20px, 3vw, 30px);
    color: var(--dark);
    text-align: right;
    float: right;
    font-weight: bold;
    line-height: 100%;
}

.portfolio {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

.item-img {
    width: 100%;
    height: 10vh;
    background-color: #f0f0f0;
    text-align: center;
    border: 4px solid var(--grad-3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 10px; 
}

.item .code-info {
    background-color: var(--grad-3);
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
}

.portfolio a {
    text-decoration: none;
    color: inherit;
}

.item .code-info p {
    font-size: 14px;
    padding-top: 4px;
    
}

.content {
    width: 80%;
    padding: 10px 0;
}

.content p {
    margin-bottom: 16px;
}
  
.item-img:first-child {
    grid-column: span 2;
    height: 15vh;
    background: url('./images/css_snippet_cheatsheet.gif'), 
        var(--grad-3);
    background-size: cover;
    background-position: 25% 25%;
    transition: all 0.6s ease;
}

.item-img:nth-child(2) {
    background: url('./images/work-card-ph.jpg'), 
        var(--grad-3);
    background-size: cover;
    background-position: 25% 25%;
    transition: all 0.6s ease;
}

.item-img:nth-child(3) {
    background: url('./images/work-card-ph.jpg'), 
        var(--grad-3);
    background-size: cover;
    background-position: 25% 25%;
    transition: all 0.6s ease;
}

.item-img:first-child.item-img:hover {
    background: linear-gradient(var(--grad-3-75), var(--grad-3-75)),
    url('./images/css_snippet_cheatsheet.gif');
    background-size: cover;
    background-position: 50%;
}

.item-img:nth-child(2).item-img:hover,
.item-img:nth-child(3).item-img:hover {
    background: linear-gradient(var(--grad-3-75), var(--grad-3-75)),
    url('./images/work-card-ph.jpg');
    background-size: cover;
    background-position: 50%;
}

#contact .content {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}
#contact .content a {
    text-decoration: none;
    color: var(--grad-2);
    transition: all 0.6s ease;
}

#contact .content a:hover {
    color: var(--dark)
}

footer {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: fit-content;
}

footer h2 {
    
    color: var(--dark);
    font-size: 24px;
}

@media screen and (max-width: 991px) {
    #about,
    #contact,
    #resume,
    #portfolio {
        width: 100%;
        margin: 0 auto;
        padding: 20px 40px 0;
        text-align: justify;
        color: var(--dark);
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-self: center;
    }

    #about .title,
    #contact .title,
    #resume .title,
    #portfolio .title {
        width: 90%;
        border-right: none;
        border-bottom: 4px solid var(--dark);
        font-size: clamp(20px, 3vw, 30px);
        color: var(--dark);
        text-align: left;
        float: left;
        font-weight: bold;
        line-height: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .content,
    .portfolio {
        margin-left: 40px;
    }

    .portfolio {
        width: 77%;
    }
}

@media screen and (max-width: 768px) {

    
} 

